[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {editable = true, path = "./DNA_Sequencing_Using_BERT/DNABERT/"}
# -------------------------------
matplotlib = "*"
seaborn="*"
numpy = "*"
pandas = "*"
scipy="*"
ipykernel = "*"
scikit-learn = "*"
#-------------------
torch= "*" # Match this to your CUDA version, or adjust for CPU
tensorboard="*"
torchtext="*"
torchdata = "*"
spacy = "*"
nltk="*"
# ----------------
# Hugging Face Transformers
# transformers="==2.5.0"
datasets = "==1.6.2"  # Huggingface datasets library
tokenizers = "*"


[dev-packages]
tqdm = "*"
torchvision="*"
gdown="*"
zipfile36="*"
tensorboardX="*"
seqeval = "*"  # For sequence evaluation metrics
pyahocorasick="*"
statsmodels="*"
biopython="*"
pybedtools="*"
sentencepiece = "==0.1.96"  # SentencePiece for tokenizer support

[requires]
python_version = "3.10"