# Pycharm
.idea/
.get/
__pycache__
6-new-12w-0.zip

**/ecoli_data/
**/my_hand_note_fake_ecoli_data/

Viljamaa_Venla_thesis_2022.pdf

# files created after running main.py on various modes
*output
*pretrained_DNA
*prediction
*figures
pred_results.npy
distribution*

# data_folders
*ecoli_data
*.zip

# Environments
env/
venv/

